<div class='redsun-pagination-info'>
  <%= page_entries_info @search.results, { model: 'record' } %>
</div>

<%= facet(name: :class_name, results: @search, attribute: :class_name, partial: 'class_name_facet') %>

<% @search.each_hit_with_result do |hit, record| %>
  <div class='redsun-result <%=record.active? ? nil : 'redsun-inactive'%>'>
    <div class="redsun-result-item">
      <%= render "redsun_search/results/#{hit.class_name.underscore}_result", hit: hit, record: record %>
    </div>
  </div>
<% end %>

<div class='redsun-pagination-bottom redsun-pagination'>
  <%= will_paginate @search.results %>
</div>
<% content_for :sidebar do %>
  <%= facet(name: :project_name, results: @search, attribute: :project_name) unless params[:search_form][:scope] == "project" %>
  <%= facet(name: :active, results: @search, attribute: :active) %>
  <%= facet(name: :created_on, results: @search, attribute: :created_on, partial: 'date_facet') %>
  <%= facet(name: :updated_on, results: @search, attribute: :updated_on, partial: 'date_facet') %>
  <%= facet(name: :filetype, results: @search, attribute: :filetype) %>
  <%= facet(name: :is_closed, results: @search, attribute: :is_closed) %>
  <%= facet(name: :author_id, results: @search, attribute: :name) %>
  <%= facet(name: :assigned_to_id, results: @search, attribute: :name) %>
  <%= facet(name: :tags, results: @search, attribute: :tags) %>
<% end %>