<br><%= page_entries_info @search.results, {model: "record"} %>
<div style="text-align:center;">
  <%= will_paginate @search.results %>
</div>

<% @search.each_hit_with_result do |hit, record| %>
  <%= render "#{hit.class_name.underscore}_result", hit: hit, record: record %>
<% end %>

<div style="text-align:center">
 <%= will_paginate @search.results %>
</div>
<% content_for :sidebar do %>
  <%= facet(:author_id, @search, :login) %>
  <%= facet(:status_id, @search, :name) %>
  <%= facet(:tracker_id, @search, :name) %>
  <%= facet(:priority_id, @search, :name) %>
  <%= facet(:created_on, @search, :created_on, "date_facet") %>
  <%= facet(:updated_on, @search, :updated_on, "date_facet") %>
  <%= facet(:class_name, @search, :class_name) %>
<% end %>