<br><%= page_entries_info @search.results, {model: "record"} %>
<div style="text-align:center;">
  <%= will_paginate @search.results %>
</div>
Allowed Wikis: <%= @allowed_wikis %><br>
Allowed Projects for Issues: <%= @allowed_issue_trackers %>
<%
@search2 = @search.each_hit_with_result.collect {|hit, record| [hit, record] if (@allowed_issue_trackers.include?(record.project_id) || @allowed_wikis.include?(record.project_id))}
%>
<% @search.each_hit_with_result do |hit, record| %>
  <%= render "#{hit.class_name.underscore}_result", hit: hit, record: record %>
<% end %>

<div style="text-align:center">
 <%= will_paginate @search.results %>
</div>
<% content_for :sidebar do %>
  <%= facet(:author_id, @search, :login) %>
  <%= facet(:status_id, @search, :name) %>
  <%= facet(:tracker_id, @search, :name) %>
  <%= facet(:priority_id, @search, :name) %>
  <%= facet(:created_on, @search, :created_on, "date_facet") %>
  <%= facet(:updated_on, @search, :updated_on, "date_facet") %>
  <%= facet(:class_name, @search, :class_name) %>
<% end %>