<h5><%= t "label_wiki_page" %> <small><%= hit.score %></small></h5>
<h3><%= link_to highlighter_for(:title, hit, record).gsub(/_/, " "), record %>
<small>
<br />
<%= l(:label_updated_time, time_tag(record.updated_on)).html_safe %> | <%= record.content.author.login %></small></h3>
<p>
  <%= hit.highlights(:wiki_content).collect { |segment| segment.format { |word| "<span class='highlight'>#{h word}</span>" }}.join(" ") %>
</p>
