<% title = record.journalized_type == 'Issue' ? "in #{t('label_issue')} ##{record.journalized.id} #{record.journalized.subject}" : ' ' %>
<h3>
  <%= link_to issue_comment_path(record.id) do %>
    <%= "#{t('label_comment')} ##{issue_comment_number(record.id).to_s}" %> <%=title %>
  <% end %>
  <span class="redsun-subheader"><%= link_to_user(record.user) %></span>
</h3>
<p>
  <% if hit.highlights(:notes).empty? %>
    <%= truncate strip_tags(record.notes), length: 100 %>
  <% else %>
    <%= sanitize highlighter_for(:notes, hit, record), tags: %w(span b strong a), attributes: %w(class id style href target) %>
  <% end %>
</p>
<h5>
  <%= redsun_inactive_badge(record) %>
  <%= l("redsun.label_added_time_by", age: time_tag(record.created_on)).html_safe %>
  <% if record.updated_on && record.updated_on > record.created_on %>
    | <%= l(:label_updated_time, time_tag(record.updated_on)).html_safe %>
  <% end %>
</h5>
