<% title = record.journalized_type == "Issue" ? " #{record.journalized.subject}" : " " %>
<h5><%= t "redsun.journal" %> #<%= highlighter_for(:id, hit, record) %> | <%= link_to ("#{t("field_#{record.journalized_type.downcase}")} ##{record.journalized.id}#{title}"), "#{url_for(record.journalized)}#history" %> in <%= link_to record.try(:project).try(:name), record.try(:project) %></small></h5>
<% if record.created_on %>
  <h5>
    <%= avatar(record.user, :size => "16") %><%= authoring(record.created_on, record.user )%>
  </h5>
<% end %>
<p>
  <% if hit.highlights(:notes).empty? %>
    <%= truncate strip_tags(record.notes), length: 100 %>
  <% else %>
    <%= sanitize highlighter_for(:notes, hit, record), tags: %w(span b strong a), attributes: %w(class id style href target) %>
  <% end %>
</p>
