<%
if hit.highlights(:description).empty?
  title = record.title
else
  title = highlighter_for(:title, hit, record)
end
%>
<h3>
  <%= link_to url_for(record) do %>
    <%= "#{t('label_news')}: " unless short_search_result_title?(record) %><%= title %>
  <% end %>
  <span class="redsun-subheader">
    In <%= link_to record.try(:project).try(:name), record.try(:project) %>
  </span>
</h3>
<p>
  <% if hit.highlights(:description).empty? %>
    <%= truncate strip_tags(record.description), length: 300 %>xx
  <% else %>
    <%= sanitize highlighter_for(:description, hit, record), tags: %w(span b strong a), attributes: %w(class id style href target) %>
  <% end %>
</p>
<h5>
  <%= redsun_inactive_badge(record) %>
  <%=link_to_user(record.author)%>
  | <%= l("redsun.label_added_time_by", age: time_tag(record.created_on)).html_safe %>
</h5>