<h5><%= t "label_wiki_page" %> in <%= link_to record.try(:project).try(:name), record.try(:project) %></h5>
<h3><%= link_to highlighter_for(:title, hit, record).html_safe, record %></h3>
<% if record.content.updated_on && record.content.author %>
<h5>
  <%= avatar(record.content.author, :size => "16") %><%= authoring(record.content.updated_on, record.content.author, label: :label_updated_time_by)%>
</h5>
<% end %>
<p>
  <% if hit.highlights(:wiki_content).present? %>
    <%= highlighter_for(:wiki_content, hit, record) %>
  <% else %>
    <%=  strip_tags(truncate(record.content.text, length: 500)) %>
  <% end %>
</p>
