<p>
  <label>
    <%= l("redsun.settings.enable_solr_search_field") %>
  </label>
  <%= check_box_tag 'settings[enable_solr_search_field]', 1, @settings["enable_solr_search_field"] %>
</p>
<p>
  <label>
    <%= l("redsun.settings.enable_select2_plugin") %>
  </label>
  <%= check_box_tag 'settings[enable_select2_plugin]', 1, @settings["enable_select2_plugin"] %>
</p>
<p>
  <label>
    <%= l("redsun.settings.solr_url") %>
  </label>
  <%= Sunspot.try(:config).try(:solr).try(:url) %>
</p>

